$blue: #2056A4;
$white: #fff;
$grey: #d8dde6;

html, body {
    height: 100%;
    font-family: Arimo, sans-serif;
}

.loading {
    margin: 0 auto;
    text-align: center;
    img {
    margin: 30vh auto;
    }
    .button {
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    background-color: $blue;
    padding: 10px 5px;
    display: block;
    width: 80px;
    color: $white;
    font-weight: 700;
    font-size: 0.8rem;  
    border-radius: 6px;    
}
}



@-webkit-keyframes mobileUp {
  0%   { bottom: -340px; }
  100% { bottom: 0px; }
}
@-moz-keyframes mobileUp {
  0%   { bottom: -340px; }
  100% { bottom: 0px; }
}
@-o-keyframes mobileUp {
  0%   { bottom: -340px; }
  100% { bottom: 0px; }
}
@keyframes mobileUp {
  0%   { bottom: -340px; }
  100% { bottom: 0px; }
}

@-webkit-keyframes mobileDown {
  0%   { bottom: 0px; }
  100% { bottom: -340px; }
}
@-moz-keyframes mobileDown {
  0%   { bottom: 0px; }
  100% { bottom: -340px; }
}
@-o-keyframes mobileDown {
  0%   { bottom: 0px; }
  100% { bottom: -340px; }
}
@keyframes mobileDown {
  0%   { bottom: 0px; }
  100% { bottom: -340px; }
}

@-webkit-keyframes toLeft {
  0%   { left: 100%; }
  100% { left: 0%; }
}
@-moz-keyframes toLeft {
  0%   { left: 100%; }
  100% { left: 0%; }
}
@-o-keyframes toLeft {
  0%   { left: 100%; }
  100% { left: 0%; }
}
@keyframes toLeft {
  0%   { left: 100%; }
  100% { left: 0%; }
}

@-webkit-keyframes toRight {
  0%   { left: 0%; }
  100% { left: 100%; }
}
@-moz-keyframes toRight {
  0%   { left: 0%; }
  100% { left: 100%; }
}
@-o-keyframes toRight {
  0%   { left: 0%; }
  100% { left: 100%; }
}
@keyframes toRight {
  0%   { left: 0%; }
  100% { left: 100%; }
}

@-webkit-keyframes tabletLeft {
  0%   { left: 90%; }
  100% { left: 46%; }
}
@-moz-keyframes tabletLeft {
  0%   { left: 90%; }
  100% { left: 46%; }
}
@-o-keyframes tabletLeft {
  0%   { left: 90%; }
  100% { left: 46%; }
}
@keyframes tabletLeft {
  0%   { left: 90%; }
  100% { left: 46%; }
}

@-webkit-keyframes tabletRight {
  0%   { left: 46%; }
  100% { left: 90%; }
}
@-moz-keyframes tabletRight {
  0%   { left: 46%; }
  100% { left: 90%; }
}
@-o-keyframes tabletRight {
  0%   { left: 46%; }
  100% { left: 90%; }
}
@keyframes tabletRight {
  0%   { left: 46%; }
  100% { left: 90%; }
}

.activeAni {
    -webkit-animation: mobileUp 0.8s forwards linear;
    -moz-animation:    mobileUp 0.8s forwards linear;
    -o-animation:      mobileUp 0.8s forwards linear;
    animation:         mobileUp 0.8s forwards linear;
}

.active {
    bottom: 0px;
}

.unactive {
    bottom: -340px;
}
        
.unactiveAni {
    -webkit-animation: mobileDown 0.8s forwards linear;
    -moz-animation:    mobileDown 0.8s forwards linear;
    -o-animation:      mobileDown 0.8s forwards linear;
    animation:         mobileDown 0.8s forwards linear;
}

.slideLeftAni {
    -webkit-animation: toLeft 0.8s forwards linear;
    -moz-animation:    toLeft 0.8s forwards linear;
    -o-animation:      toLeft 0.8s forwards linear;
    animation:         toLeft 0.8s forwards linear; 
}

.slideLeft {
    left: 0%;
}

.slideRight {
    left: 100%;
}

.slideRightAni {
    -webkit-animation: toRight 0.8s forwards linear;
    -moz-animation:    toRight 0.8s forwards linear;
    -o-animation:      toRight 0.8s forwards linear;
    animation:         toRight 0.8s forwards linear; 
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.flexcontainer{
    height: 100%;
    max-height: 100%;
    overflow: hidden;
h1 {
    text-align: center;
    color: $blue;
    font-weight: 700;
    padding: 15px 0px;
    margin: 0 auto;
    background-color: white;
}    
.apptitle {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    height: 46px;
    
    .language {
      position: relative;
      bottom: 34px;
      left: 65%;
      z-index: 200;
      .unselected {
        background-image: url(../images/lang_unselected.svg);
      }
        
      .selected {
        background-image: url(../images/lang_selected.svg);
      }    
    
      a {
          display: inline-block;
          text-decoration: none;
          color: #2056A4;
          font-weight: 700;
          width: 32px;
          height: 15px;
          font-size: 0.7rem;
          background-repeat: no-repeat;
          background-position: center left;
          background-size: 15px;
          text-align: right;
          vertical-align: middle;
          padding-top: 6px; 
      }
    }
}    

.controls
{
    position: absolute;
    top: 0px;
    z-index: 5;
}

.zoomIn, .zoomOut {
    background-color:#fff;
    border:1px solid #ccc;
    color:#000;
    width:30px;
    height:30px;
    line-height: 30px;
    text-align:center;
    border-radius:3px;
    cursor:pointer;
    position: relative;
    top : 55px;
    font-weight:bold;
    left : 10px;
}


.zoomOut {
    top:60px;
}

.map path {
    pointer-events: none;
    stroke: none;
}

.map circle
{
    stroke: none;
}

.map text
{
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.map {
    width: inherit;
}

.map svg {
    background-color: #B2B2B2;
}

.mapcontainer {
    width: 100%;
    height: 100%;
    max-height: inherit;
    overflow-y:hidden;
    overflow-x:hidden;
    margin: 0 auto;
}
    
.menu {
    position: fixed;
    width: 100%;
    max-width: inherit;
    background-color: $white;
    z-index: 8;
    .location_number {
    width: 25px;
    font-size: 1rem;
    font-weight: bold;   
        span
        {
            font-size: 0.7rem;
            vertical-align: middle;
            padding: 0 1px;
        }
    }
    
    .locations
    {
        
        .locations_mobileheader
        {
            h2
            {
            text-transform: uppercase;
            color: $blue;
            font-weight: 700;
            padding: 5px 20px 5px 0px; 
            margin: 0px 20px 0px 30px;    
            background-image: url(../images/arrow-up.svg);
            background-repeat: no-repeat;
            background-position: 100% center;
            background-size: 25px; 
            
              img {
                width: 50px;
              }    
            }
        }
        
        .locations_header
        {
            display: none;
            h2
            {
            text-transform: uppercase;
            color: $blue;
            font-weight: 700;
            padding: 5px 20px 5px 20px; 
            margin: 0px 20px 0px 30px;    
            background-image: url(../images/arrow-up.svg);
            background-repeat: no-repeat;
            background-position: 100% center;
            background-size: 25px;    
            }
        }
        
        #locations_list
        {
            background-color: $white;
            li
            {
            color: $blue;
            padding: 10px 25px 10px 30px;  
            background-image: url(../images/arrowright.svg);
            background-repeat: no-repeat;
            background-position: 91% center; 
            background-size: 12px; 
            cursor: pointer; 
                &:hover {
                    background-color: #2056A4;
                    color: white;
                    background-image: url(../images/arrowright_w.svg);
                }
                a {
                    color: inherit;
                    width: 100%;
                    display: block;  
                
                p,
                h3
                {
                vertical-align: middle;
                display: inline-block;    
                }
                
                h3
                {
                text-transform: uppercase;
                font-weight: 400;
                padding-left: 20px;   
                width: 70%;   
                font-size: 0.8rem; 
                padding-top: 5px;    
                }
              } 
            }
        }
    }
}    
    
.datacontainer
{
position: absolute;
top: 0;
width: 100%;
margin: 0 auto;  
height: inherit;
overflow: auto;   
z-index: -20;    
//background-color: $white;     
    .loc_number
    {
    width: 25px;
    font-size: 1rem;
    font-weight: bold;
        span
        {
            font-size: 0.7rem;
            vertical-align: middle;
            padding: 0 1px;
        }
    }
    
    .location
    {
      position: absolute;  
      min-width: 300px; 
      width: 100%;    
      height: 100%;  
      z-index: 20;  
      padding-top: 45px;
      background-color: $white;
      box-sizing: border-box;
        
      .location_header {
      background-color: $blue;
      margin: 0 auto;
      text-align: center;
      padding: 10px 0px;      
          a {
            color: $white;
            text-decoration: none;
            display: block;
            width: 100%;
            background-image: url('../images/arrowleft_w.svg');
            background-repeat: no-repeat;
            background-position: 5% center;  
            background-size: 15px;  
            p {
              width: 25px;
              display: inline-block;
              vertical-align: middle;
            }
            h2 {
              text-transform: uppercase;  
              display: inline-block;
              vertical-align: middle;
              font-weight: 400;
              font-size: 0.8rem;    
            }  

          }
      }
      .location_info {
        padding: 20px 10px 30px 10px;
        margin: 10px 0px 15px 0px;
        font-size: 0.9rem;
        line-height: 1rem;  
        letter-spacing: 0.3px; 
        border-bottom: 1px solid $grey;  
        img {
          width: 110px;
          height: 80px;
          background-color: $blue; 
          display: inline-block;
        }
        #location_address {
          position: relative;
          bottom: 2px;
          font-size: 0.9rem;
          line-height: 1.2rem;  
          letter-spacing: 0.3px; 
          padding-top: 10px; 
          font-weight: 700;
          color: $blue;    
        }
        #location_description {
          font-size: 0.8rem;
          padding-top: 10px; 
        }  
      } 
      .art_lists {
        padding: 20px 10px 10px 10px;
        background-color: $white;
        ul {
          li {
            display: block;
            padding-bottom: 10px; 
            background-image: url(../images/arrowright.svg);
            background-position: right center;
            background-size: 15px;
            background-repeat: no-repeat;
            img {
              width: 60px;
              height: 60px;
              background-color: $blue; 
              display: inline-block;
              vertical-align: middle;
            }
            a {
              display: inline-block;
              font-size: 0.7rem;
              line-height: 1rem;  
              vertical-align: middle; 
              width: 60%;
              padding-left: 20px;
              text-decoration: none;
              color: #000;
              &:hover {
                color: $blue;
              }    
                
              h3 {
                text-transform: uppercase;
                font-weight: bolder;  
              }  
              //letter-spacing: 0.3px;    
            }  
          }
        }  
      }    
    }
    
    .artwork {
      position: absolute; 
      min-width: 300px;    
      height: 100%;  
      z-index: 20;  
      padding-top: 45px;
      background-color: $white;
      box-sizing: border-box;
        
      .artwork_header {
          background-color: $blue;
          margin: 0 auto;
          text-align: center;
          padding: 12.5px 0px;      
              a {
                color: $white;
                text-decoration: none;
                display: block;
                width: 100%;
                background-image: url('../images/arrowleft_w.svg');
                background-repeat: no-repeat;
                background-position: 5% center;  
                background-size: 15px;  
                h2 {
                  text-transform: uppercase;  
                  display: inline-block;
                  vertical-align: middle;
                  font-weight: 400;
                  font-size: 0.8rem;    
                }  

              }
      }
      .artwork_info {
        .artist_info {
          padding: 20px 10px 30px 10px;
          margin: 10px 0px 15px 0px;
          font-size: 0.9rem;
          line-height: 1rem;  
          letter-spacing: 0.3px; 
          border-bottom: 1px solid $grey;   
          img {
            width: 70px;
            height: 70px;
            background-color: $blue; 
            display: inline-block;
            vertical-align: middle;
          }
          .artist {
            display: inline-block;
            font-weight: 700;
            vertical-align: middle;
            font-size: 0.7rem;
            padding-left: 10px;  
            li {
              padding: 2px 0px;
            }  
            span {
              font-weight: 400;
            }  
          }    
        }
      }
      .artwork_desc {
        padding: 20px 10px 20px 10px;
        .artwork_title {
            text-transform: uppercase;
            font-size: 0.7rem;
            font-weight: 700;
            padding-bottom: 30px;
        }  
        audio {
          width: 100%;
        }  
        .artwork_text {
          padding-top: 20px;
          font-size: 0.8rem;    
        }  
      }    
    }
}
    
}

@media only screen 
and (min-width : 350px) {

    .flexcontainer{
      .menu {
        .location_number {
            font-size: 1.4rem;
            span {
              font-size: 1rem;
            }  
          }
          .locations {
          .locations_mobileheader {
            h2 {
              background-position: 98% center;  
            }
          }
          #locations_list
          {
            li
            {
              a {
                h3 {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }    
      .datacontainer
      {
          overflow-x: hidden;
          .loc_number {
            font-size: 1.4rem;
            span {
              font-size: 1rem;
            }  
          }
          
        .location
        {
          .location_header {
            a {  
              background-size: 18px;  
              h2 {
                 font-size: 100%;
                 }
              img {
                  width: 15px;
                  padding-right: 20px;
                 }
              }
          }
          .location_info {
            #location_address {
              display: inline-block;
              padding-left: 10px;    
            }
            #location_description {
              font-size: 0.9rem;
            }  
          }
          .art_lists {
              ul {
                li {
                  background-size: 18px;
                }
              }
          }
      }
          
      .artwork  
        {
          .artwork_header {
              a {  
                background-size: 18px;  
                h2 {
                  font-size: 100%;
                }
                img {
                  width: 15px;
                  padding-right: 20px;
                }
            }
          }
          .artwork_info {
            .artist_info {
              font-size: 1.1rem;
              .artist {
                font-size: 0.9rem;
                padding-left: 18px;  
                li {
                  padding: 2px 0px;
                } 
              }    
            }
          }    
        }
    }
  }
}

@media only screen 
and (min-width : 480px) {

    .flexcontainer{
      .apptitle {
        .language {
          bottom: 36px;
          left: 75%; 

          a {
              width: 40px;
              height: 20px;
              font-size: 0.9rem;
              background-size: 20px; 
              padding-left: 5px;
          }
        }
      }    
        
      .menu {
        .locations {
          .locations_mobileheader {
            h2 {
              background-position: 96% center;
            }
          }
        }
      }    
      .datacontainer
      {
        .location
        {
          min-width: 400px;    
          .location_info {
            padding: 30px 30px 30px 30px;  
            #location_address {    
            }
          }
          .art_lists {
            padding: 20px 30px 20px 30px;  
          }    
        }
          
        .artwork
        {
          min-width: 400px; 
          .artwork_info {
            .artist_info {
              padding: 20px 30px 30px 30px;    
              .artist {
                font-size: 0.9rem;
                padding-left: 25px; 
              }    
            }
          }
          .artwork_desc {
            padding: 20px 30px 20px 30px;  
            .artwork_title {
              font-size: 0.8rem;
            }  
          }    
        }  
      }
    }

}

@media only screen 
and (min-width : 800px) {
   .activeAni {
    -webkit-animation: tabletLeft 0.8s forwards linear;
    -moz-animation:    tabletLeft 0.8s forwards linear;
    -o-animation:      tabletLeft 0.8s forwards linear;
    animation:         tabletLeft 0.8s forwards linear;
    }
    
    .active {
    left: 46%;
    }
    
    .unactive {
    left: 90%;
    }

    .unactiveAni {
    -webkit-animation: tabletRight 0.8s forwards linear;
    -moz-animation:    tabletRight 0.8s forwards linear;
    -o-animation:      tabletRight 0.8s forwards linear;
    animation:         tabletRight 0.8s forwards linear;
    } 
    
   .flexcontainer {
      .apptitle {
        .language {
          left: 80%; 

          a {; 
              margin-left: 8px;
          }
        }
      }   
       
      .mapcontainer {
        max-width: 90%;
        margin: 0 0;
        display: block;
        float: left;  
      }
       
      .menu {
        position: absolute;
        bottom: 0px;  
        display: block;
        float: left;
        height: 100%;
        width: 54%;  
        .locations {
          height: 100%;
          .locations_mobileheader {
            display: none;
          }    
          .locations_header {
              display: block;
              height: 100%;
              padding: 50px 0px;
              box-sizing: border-box;
              width: 20%;
              float: left;
              h2 {
                background-position: center 100%;
                height: inherit;
                margin: 0px; 
                background-image: url(../images/arrow-left.svg);
                  
                img {
                width: 50px;
                  }  
              }
          }    
          #locations_list {
            display: block;
            float: left;  
            width: 80%;
            height: 100%;
            padding: 50px 0px;
            box-sizing: border-box; 
            overflow: auto;  
            li
            {
            padding: 15px 25px 15px 30px; 
            }
          }
        }  
      }
         
      .datacontainer {
           right: 0;
           width: 54%;
           .location {
               min-width: 100%;
           }
           .artwork {
               min-width: 100%;
           }
       }   
    } 

}

@media only screen 
and (min-width : 1024px) {
    .activeAni {
        -webkit-animation: none;
        -moz-animation:    none;
        -o-animation:      none;
        animation: none;
    }
    .unactiveAni {
        -webkit-animation: none;
        -moz-animation:    none;
        -o-animation:      none;
        animation: none;
    }
    
    .flexcontainer {
       .apptitle {
        .language {
          left: 82%; 
        }
       }    
         
       .mapcontainer {
          max-width: 60%;
       }

       .menu {
          position: relative;
          width: 40%;
          left: 0%;   
          .locations {
            .locations_header {
              h2 {
                background-image: none !important;
              }
            }
          }
           
       } 
       
       .datacontainer {
           width: 40%;
        }    
    }
}