$blue: #2056A4;
$white: #fff;
$grey: #d8dde6;

html, body {
    height: 100%;
    font-family: Arimo, sans-serif;
}

.flexcontainer{
    height: 100%;
    max-height: 100%;
    overflow: hidden;
h1 {
    text-align: center;
    color: $blue;
    font-weight: 700;
    padding: 15px 0px;
    margin: 0 auto;
}    
.apptitle {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    z-index: 100;
    height: 2%;
}    

.controls
{
    position: absolute;
    top: 0px;
    z-index: 5;
}

.zoomIn, .zoomOut {
    background-color:#fff;
    border:1px solid #ccc;
    color:#000;
    width:30px;
    height:30px;
    line-height: 30px;
    text-align:center;
    border-radius:3px;
    cursor:pointer;
    position: relative;
    top : 55px;
    font-weight:bold;
    left : 10px;
}


.zoomOut {
    top:60px;
}

.map path {
    pointer-events: none;
    stroke: none;
}

.map circle
{
    stroke: none;
}

.map text
{
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.map {
    width: inherit;
}

.map svg {
    background-color: #B2B2B2;
}

.mapcontainer {
    max-width: 525px;
    width: 100%;
    height: 100%;
    max-height: inherit;
    overflow-y:hidden;
    overflow-x:hidden;
    margin: 0 auto;
}
    
.menu {
    .location_number {
    width: 25px;
    font-size: 1rem;
    font-weight: bold;
        span
        {
            font-size: 0.7rem;
            vertical-align: middle;
            padding: 0 1px;
        }
    }
    
    .locations
    {
        position: fixed;
        bottom: 0px;
        width: 100%;
        max-width: inherit;
        background-color: $white;
        .locations_header
        {
            h2
            {
            text-transform: uppercase;
            color: $blue;
            font-weight: 700;
            padding: 20px 20px 20px 0px; 
            margin: 0px 20px 0px 30px;    
            background-image: url(../images/arrow-up.png);
            background-repeat: no-repeat;
            background-position: 100% center;
            background-size: 25px;    
            }
        }
        #locations_list
        {
            background-color: $white;
            li
            {
            color: $blue;
            padding: 10px 25px 10px 30px;  
            background-image: url(../images/arrowright.png);
            background-repeat: no-repeat;
            background-position: 91% center; 
            background-size: 12px; 
            cursor: pointer; 
                &:hover {
                    background-color: #2056A4;
                    color: white;
                    background-image: url(../images/arrowright_w.png);
                }
                a {
                    color: inherit;
                    width: 100%;
                    display: block;  
                
                p,
                h3
                {
                vertical-align: middle;
                display: inline-block;    
                }
                
                h3
                {
                text-transform: uppercase;
                font-weight: 400;
                padding-left: 20px;   
                width: 70%;   
                font-size: 0.8rem;    
                }
              } 
            }
        }
    }
}    
    
.datacontainer
{
position: absolute;
top: 0;    
max-width: 525px;
width: 100%;
margin: 0 auto;  
height: inherit;
overflow: auto;   
z-index: -20;    
//background-color: $white;     
    .loc_number
    {
    width: 25px;
    font-size: 1rem;
    font-weight: bold;
        span
        {
            font-size: 0.7rem;
            vertical-align: middle;
            padding: 0 1px;
        }
    }
    
    .location
    {
      position: absolute;
      left: 100%;
      max-width: 525px;  
      min-width: 300px;    
      height: 100%;  
      z-index: 20;  
      padding-top: 42px;
      background-color: $white;
      .location_header {
      background-color: $blue;
      margin: 0 auto;
      text-align: center;
      padding: 10px 0px;      
          a {
            color: $white;
            text-decoration: none;
            display: block;
            width: 100%;
            background-image: url('../images/arrowleft_w.png');
            background-repeat: no-repeat;
            background-position: 5% center;  
            background-size: 15px;  
            p {
              width: 25px;
              display: inline-block;
              vertical-align: middle;
            }
            h2 {
              text-transform: uppercase;  
              display: inline-block;
              vertical-align: middle;
              font-weight: 400;
              font-size: 0.8rem;    
            }  

          }
      }
      .location_info {
        padding: 20px 10px 30px 10px;
        margin: 10px 0px 15px 0px;
        font-size: 0.9rem;
        line-height: 1rem;  
        letter-spacing: 0.3px; 
        border-bottom: 1px solid $grey;  
        img {
          width: 110px;
          height: 80px;
          background-color: $blue; 
          display: inline-block;
        }
        #location_address {
          position: relative;
          bottom: 2px;
          font-size: 0.9rem;
          line-height: 1.2rem;  
          letter-spacing: 0.3px; 
          padding-top: 10px; 
          font-weight: 700;
          color: $blue;    
        }
        #location_description {
          font-size: 0.8rem;
          padding-top: 10px; 
        }  
      } 
      .art_lists {
        padding: 20px 10px 10px 10px;
        background-color: $white;
        ul {
          li {
            display: block;
            padding-bottom: 10px; 
            background-image: url(../images/arrowright.png);
            background-position: right center;
            background-size: 15px;
            background-repeat: no-repeat;
            img {
              width: 60px;
              height: 60px;
              background-color: $blue; 
              display: inline-block;
              vertical-align: middle;
            }
            a {
              display: inline-block;
              font-size: 0.7rem;
              line-height: 1rem;  
              vertical-align: middle; 
              width: 60%;
              padding-left: 20px;
              text-decoration: none;
              color: #000;
              &:hover {
                color: $blue;
              }    
                
              h3 {
                text-transform: uppercase;
                font-weight: bolder;  
              }  
              //letter-spacing: 0.3px;    
            }  
          }
        }  
      }    
    }
    
    .artwork {
      position: absolute;
      left: 100%;
      max-width: 525px;  
      min-width: 300px;    
      height: 100%;  
      z-index: 20;  
      padding-top: 42px;
      background-color: $white;
      .artwork_header {
          background-color: $blue;
          margin: 0 auto;
          text-align: center;
          padding: 10px 0px;      
              a {
                color: $white;
                text-decoration: none;
                display: block;
                width: 100%;
                background-image: url('../images/arrowleft_w.png');
                background-repeat: no-repeat;
                background-position: 5% center;  
                background-size: 15px;  
                h2 {
                  text-transform: uppercase;  
                  display: inline-block;
                  vertical-align: middle;
                  font-weight: 400;
                  font-size: 0.8rem;    
                }  

              }
      }
      .artwork_info {
        .artist_info {
          padding: 20px 10px 30px 10px;
          margin: 10px 0px 15px 0px;
          font-size: 0.9rem;
          line-height: 1rem;  
          letter-spacing: 0.3px; 
          border-bottom: 1px solid $grey;   
          img {
            width: 70px;
            height: 70px;
            background-color: $blue; 
            display: inline-block;
            vertical-align: middle;
          }
          .artist {
            display: inline-block;
            font-weight: 700;
            vertical-align: middle;
            font-size: 0.7rem;
            padding-left: 10px;  
            li {
              padding: 2px 0px;
            }  
            span {
              font-weight: 400;
            }  
          }    
        }
      }
      .artwork_desc {
        padding: 20px 10px 20px 10px;
        .artwork_title {
            text-transform: uppercase;
            font-size: 0.7rem;
            font-weight: 700;
            padding-bottom: 30px;
        }  
        audio {
          width: 100%;
        }  
        .artwork_text {
          padding-top: 20px;
          font-size: 0.8rem;    
        }  
      }    
    }
}
    
}

@media only screen 
and (min-width : 350px) {

    .flexcontainer{
      .menu {
        .location_number {
            font-size: 1.4rem;
            span {
              font-size: 1rem;
            }  
          }
          .locations {
          .locations_header {
            h2 {
              background-position: 98% center;  
            }
          }
          #locations_list
          {
            li
            {
              a {
                h3 {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }    
      .datacontainer
      {
          .loc_number {
            font-size: 1.4rem;
            span {
              font-size: 1rem;
            }  
          }
          
        .location
        {
          min-width: 350px;
          .location_header {
            a {  
              background-size: 18px;  
              h2 {
                 font-size: 100%;
                 }
              img {
                  width: 15px;
                  padding-right: 20px;
                 }
              }
          }
          .location_info {
            #location_address {
              display: inline-block;
              padding-left: 10px;    
            }
            #location_description {
              font-size: 0.9rem;
            }  
          }
          .art_lists {
              ul {
                li {
                  background-size: 18px;
                }
              }
          }
      }
          
      .artwork  
        {
        min-width: 350px;
          .artwork_header {
              a {  
                background-size: 18px;  
                h2 {
                  font-size: 100%;
                }
                img {
                  width: 15px;
                  padding-right: 20px;
                }
            }
          }
          .artwork_info {
            .artist_info {
              font-size: 1.1rem;
              .artist {
                font-size: 0.9rem;
                padding-left: 18px;  
                li {
                  padding: 2px 0px;
                } 
              }    
            }
          }    
        }
    }
  }
}

@media only screen 
and (min-width : 480px) {

    .flexcontainer{
      .menu {
        .locations {
          .locations_header {
            h2 {
              background-position: 96% center;
            }
          }
        }
      }    
      .datacontainer
      {
        .location
        {
          min-width: 470px;    
          .location_info {
            padding: 30px 30px 30px 30px;  
            #location_address {    
            }
          }
          .art_lists {
            padding: 20px 30px 20px 30px;  
          }    
        }
          
        .artwork
        {
          min-width: 470px; 
          .artwork_info {
            .artist_info {
              padding: 20px 30px 30px 30px;    
              .artist {
                font-size: 0.9rem;
                padding-left: 25px; 
              }    
            }
          }
          .artwork_desc {
            padding: 20px 30px 20px 30px;  
            .artwork_title {
              font-size: 0.8rem;
            }  
          }    
        }  
      }
    }

}