extends layout

block content
  h1= test
  div(class="mapcontainer", id="mapcontainer")
    div(class="map")
     span The map is loading
  div(class="controls")

  script(type="text/javascript", src="/javascripts/jquery-latest.min.js")
  script(type="text/javascript").
    $(document).bind("mobileinit", function () {
      $.mobile.autoInitializePage = false;
    });
  script(type="text/javascript", src="/javascripts/jquery.mobile-1.4.5.min.js")
  script(type="text/javascript", src="/javascripts/jquery.mousewheel.min.js")
  script(type="text/javascript", src="/javascripts/hammer.min.js")
  script(type="text/javascript", src="/javascripts/raphael-min.js")
  script(type="text/javascript", src="/javascripts/jquery.mapael.js")
  script(type="text/javascript", src="/javascripts/mechelen.js")
  script(type="text/javascript", src="/javascripts/script.js")